body {
    background-color: #f2f2f2;
    font-size: 0.875rem; // 14px÷16px
}
p, ul { /* override foundation's line-heights, which interfere with UIO */
    line-height: inherit;
}
@font-face {
    font-family: 'fluid-community';
    src: url("../fonts/fluid-community.eot?#iefix") format('embedded-opentype'), url("../fonts/fluid-community.eot"), url("../fonts/fluid-community.ttf");
}
.fluid-build {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    padding: 0 1rem;
}
.fluid-build .row {
    max-width: 66rem;
}
.fluid-build h1,
.fluid-build h2,
.fluid-build h3 {
    font-family: 'Open Sans', sans-serif;
    color: #333;
}
.fluid-build h1 {
    font-size: 4.75rem;
    font-weight: bolder;
}
.fluid-build h3 {
    font-size: 1.4rem;
    font-weight: bold;
}
.fluid-build p {
    margin-bottom: 0.8rem;
}
.fluid-build a:hover {
    color: #009fcb;
}
.fluid-build a:focus {
    outline: 0.2rem solid #fc0;
}
.fluid-build .columns {
    padding: 0.5rem;
}
.fluid-build .fluid-build-group:after {
    content: "";
    display: table;
    clear: both;
}
.fluid-build .fluid-build-section-gap {
    margin-top: 5rem;
}
.fluid-build .fluid-build-deemphasized-text {
    font-size: 1em;
    text-transform: uppercase;
    color: #808080;
}
.fluid-build .fluid-build-list {
    background: #fff;
    padding: 1rem;
    margin-top: 0.2rem;
}
.fluid-build .fluid-build-list h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
}
.fluid-build .fluid-build-list ul {
    list-style: none;
}
.fluid-build .fluid-build-list li,
.fluid-build .fluid-build-list dl dt {
    margin-top: 0.8rem;
}
.fluid-build .fluid-build-list dl dd {
    margin-bottom: 1rem;
}
/* Header and Navigation */
.fluid-build .fluid-build-header {
    margin-bottom: 2rem;
}
.fluid-build header {
    padding: 0;
}
.fluid-build .fluid-build-logo-star:before {
    content: '\e607';
    font-family: 'fluid-community';
}
.fluid-build .fluid-build-header .fluid-build-logo-star:before {
    font-size: 3.5rem;
}

.fluid-build .fluid-build-mail-icon:before{
    font-family: 'fluid-community';
    content: '\e603';
    font-size: 0.8rem;
    font-weight: normal;
    margin-left: 0.3rem;
}

.fluid-build .fluid-build-map-icon:before{
    font-family: 'fluid-community';
    content: '\e609';
    font-size: 0.8rem;
    font-weight: normal;
    margin-left: 0.3rem;
}

.fluid-build .fluid-build-disclaimer {
    background-color: #fff;
    font-size: 1.2rem;
    padding: 1.4rem;
    line-height: 1.8;
}

/* Community links section */
.fluid-build .fluid-build-community-list {
    display: flex;
    margin: 1rem 0 0 0;
    justify-content: center;
    flex-wrap: wrap;
    overflow: initial;
}
.fluid-build .fluid-build-community-list li a {
    margin: 5rem 0 1rem 0;
    width: 7rem;
    display: block;
    position: relative;
    color: #333;
    text-align: center;
    font-weight: bold;
    border: none;
}
.fluid-build .fluid-build-community-icon:before {
    width: 5rem;
    height: 5rem;
    border-radius: 50rem;
    position: absolute;
    top: -5rem;
    left: 1rem;
    font-family: 'fluid-community';
    font-size: 2.5rem;
    line-height: 2;
    background-color: #fff;
    box-shadow: -0.03rem -0.07rem #dfdfdf;
}
.fluid-build .fluid-build-community-list a:focus .fluid-build-community-icon:before,
.fluid-build .fluid-build-community-list a:hover .fluid-build-community-icon:before {
    text-shadow: 0.01rem 0.01rem 0.1rem #afafaf;
}

.fluid-build .fluid-build-community-irc:before {
    content: '\e604';
}
.fluid-build .fluid-build-community-source:before {
    content: '\e601';
}
.fluid-build .fluid-build-community-bugs:before {
    content: '\e605';
}
.fluid-build .fluid-build-community-mailinglist:before {
    content: '\e603';
}
.fluid-build .fluid-build-community-list li a:focus,
.fluid-build .fluid-build-community-list li a:hover {
    color: #009fcb;
}

/* Footer */
.fluid-build .fluid-build-footer {
    padding: 3rem;
    background-color: #363636;
    color: #fff;
}
.fluid-build .fluid-build-footer abbr {
    color: #fff;
}
.fluid-build .fluid-build-footer a {
    color: #fc0;
    border: none;
}
.fluid-build .fluid-build-footer a:hover {
    text-decoration: underline;
}
.fluid-build .fluid-build-footer a:active {
    background-color: #fc0;
    color: #363636;
}
.fluid-build .fluid-build-footer a:focus {
    outline: 0.2rem solid #fc0;
}
.fluid-build .fluid-build-footer p {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
}
.fluid-build .fluid-build-projectCoordinator-list {
    font-size: 0.8rem;
}
.fluid-build .fluid-build-projectCoordinator-list dt {
    margin-bottom: 0rem;
    display: inline;
}
/* make UIO buttons' entire visible area clickable */
.fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide,
.fl-prefsEditor-separatedPanel .fl-prefsEditor-reset {
    margin-bottom: 0;
    height: inherit;
}
.fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide:focus,
.fl-prefsEditor-separatedPanel .fl-prefsEditor-reset:focus {
    outline: 0.2rem solid #fc0;
}

/* high-contrast styles */
.fl-theme-yb .fluid-build .fluid-build-list,
.fl-theme-yb .fluid-build .fluid-build-footer {
    border: 1px solid #FFFF00;
}
.fl-theme-wb .fluid-build .fluid-build-list,
.fl-theme-wb .fluid-build .fluid-build-footer {
    border: 1px solid #FFFFFF;
}
.fl-theme-bw .fluid-build .fluid-build-list,
.fl-theme-by .fluid-build .fluid-build-list,
.fl-theme-bw .fluid-build .fluid-build-footer,
.fl-theme-by .fluid-build .fluid-build-footer {
    border: 1px solid #000000;
}
.fl-theme-lgdg .fluid-build .fluid-build-list,
.fl-theme-lgdg .fluid-build .fluid-build-footer {
    border: 1px solid #bdbdbb;
}
.fl-theme-bw .fluid-build .fluid-build-community-icon:before,
.fl-theme-wb .fluid-build .fluid-build-community-icon:before,
.fl-theme-by .fluid-build .fluid-build-community-icon:before,
.fl-theme-yb .fluid-build .fluid-build-community-icon:before,
.fl-theme-lgdg .fluid-build .fluid-build-community-icon:before {
    background-color: inherit;
    box-shadow: none;
}
.fl-theme-yb .fluid-build a:focus,
.fl-theme-yb .fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide:focus,
.fl-theme-yb .fl-prefsEditor-separatedPanel .fl-prefsEditor-reset:focus {
    outline: 0.2rem solid #FFFF00;
}
.fl-theme-wb .fluid-build a:focus,
.fl-theme-wb .fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide:focus,
.fl-theme-wb .fl-prefsEditor-separatedPanel .fl-prefsEditor-reset:focus {
    outline: 0.2rem solid #FFFFFF;
}
.fl-theme-bw .fluid-build a:focus,
.fl-theme-by .fluid-build a:focus,
.fl-theme-bw .fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide:focus,
.fl-theme-bw .fl-prefsEditor-separatedPanel .fl-prefsEditor-reset:focus,
.fl-theme-by .fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide:focus,
.fl-theme-by .fl-prefsEditor-separatedPanel .fl-prefsEditor-reset:focus {
    outline: 0.2rem solid #000000;
}
.fl-theme-lgdg .fluid-build a:focus,
.fl-theme-lgdg .fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide:focus,
.fl-theme-lgdg .fl-prefsEditor-separatedPanel .fl-prefsEditor-reset:focus {
    outline: 0.2rem solid #bdbdbb;
}
